<!--partial for city directive displays at submit-->
<div class="resultCity"

   <p>

     As the sun goes down in the city all the {{ obj1.one }} begin to {{ obj1.two }} . The tall {{ obj1.three }} block the light. A light rain {{ obj1.four }} and the {{ obj1.five }} look {{ obj1.six }} . The energy of the day has {{ obj1.seven }} and the only {{ obj1.eight }} is {{ obj1.nine }} . Night has begun and the {{ obj1.ten }} will {{ obj1.eleven }} . Leaving the {{ obj1.twelve }} behind, {{ obj1.thirteen }} to the {{ obj1.fourteen }}. I am {{ obj1.fifteen }} to be {{ obj1.sixteen }}

    </p>

</div>
